<% include partials/header %>
<% include partials/navbar %>

    <h1>Welcome <%= username.toUpperCase() %></h1>
    <p>Your userid is: <%= userid %></p>
    <p>Your member type is: <%= memberType %></p>

<% include partials/footer %>